.supt-customize-switch-control {
	position: relative;
	font-size: 14px;

	&__chk {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__label {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			line-height: 1.75;
			font-weight: 600;
			margin-bottom: 4px;
		}

		&::before {
			content: "";
			z-index: 1;
			height: 20px;
			width: 38px;
			order: 2;

			border-radius: 34px;
			font-size: 0;

			box-shadow: none;
			background-color: #858585;
			transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			right: 2px;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid #ffffff;
			transition: background-color 0.2s ease-out, transform 0.2s ease-out;
			transform: translateX(-18px);
		}
	}

	&__desc {
		&:empty {
			margin: 0;
		}
	}

	/**
	 * STATES
	 */

	&__chk {
		&:checked + label {
			&::before {
				background-color: #42A5F5;
			}

			&::after {
				transform: translateX(0);
				background-color: #ffffff;
			}
		}

		&:focus + label::before {
			box-shadow: inset #007cba 0px 0px 1px 1px, #007cba 0px 0px 1px 1px;
		}
	}
}


